WatsonVR.json
[{"id":"75ca42ab.121334","type":"visual-recognition-v3","z":"d2fc49a7.6f6be","name":"","apikey":"__PWRD__","image-feature":"classifyImage","lang":"en","x":290,"y":220,"wires":[["3723b23a.4cc2fe"]]},{"id":"7a95a847.332ab8","type":"inject","z":"d2fc49a7.6f6be","name":"","topic":"","payload":"https://raw.githubusercontent.com/takeyan/bmx_DLdemo2/master/dogs_test/TATSU130914211875_TP_V.jpg","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":100,"wires":[["689034ac.b20a34"]]},{"id":"3723b23a.4cc2fe","type":"debug","z":"d2fc49a7.6f6be","name":"","active":true,"console":"false","complete":"result","x":410,"y":280,"wires":[]},{"id":"689034ac.b20a34","type":"function","z":"d2fc49a7.6f6be","name":"dogs_and_cats_1411627338","func":"msg.params = {};\nmsg.params.classifier_ids=\"dogs_and_cats_1411627338\";\nmsg.params.threashold=0.3;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":265.5,"y":163.75,"wires":[["75ca42ab.121334"]]}]